body{
     font-family: 'Montserrat', sans-serif;
}

header{
    position: relative;
    background-color: #3853d8;
    width: 100%;
    margin-bottom:105px;

}

.menu{
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap;
    margin: 0;
    padding: 25px 98px;
    margin-bottom: 137px;
}

.menu-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;    
}

.nav-item a{
    padding-left:15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size:12pt;
}

.menu-container{
    display: flex;
    align-items: center;
    width: 50%;
}

.user-menu{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.user-menu-item{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.header-slogan{
    text-align: center;
    padding-bottom: 399px;
}

.header-main-img{
    position: absolute;    
    left: 35%;
    top: 110px;
    width: 32%;
}

/* Advances */
.advances{
    display: flex;
    justify-content: space-around;
    padding:0 42px 0 42px;    
    position: absolute;
    top: 668px;
    left: 0;
    right: 0;
}

.advances-icon{
    margin-right:19px;
}

.advances-item{
    display: flex;
    padding: 57px 0 56px 0;
    border: 1px solid grey;
    /* border-radius: 5px; */
    width: 327px;
    justify-content: center;
    background-color: #ffffff;
}

.advances-item:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.advances-item:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item-text:nth-child(1){
    font-size: 18pt;
    color: rgba(0, 0, 0, 255);
}

.item-text:nth-child(2){
    font-size: 14pt;
    color: rgba(153, 153, 153, 255);
}

.goods{
    padding: 0 30px 0 30px;
}

.goods-4-in-row,
.goods-2-in-row{
    display: flex;
    justify-content: space-around;
    margin-bottom:30px;
}

.goods-popular{       
    background-color: #232323;
    /* padding:73px 58px 73px 58px; */
}

.goods-popular h2,
.goods-popular p
{
    color:#fff;
}
.goods-item{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    border: 1px solid #d3d3d3;
    width: 296px;
    height: 296px;
}

.goods-new{
    width: 954px;
    background-color: #3853d8;
}